* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2828c7;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    width: 15px;
    height: 10px;
    border-radius: 0;
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium ;
    cursor: pointer;
    background-color: gray;
    


}

p {
    font-size: 16px;
}

.hero {
    height: 500px;
    width: 75px;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    /* benefits box is changed to have different color background and border with box shadow */
    border: 10px solid gray;
    box-shadow: 10px 10px 10px gray;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: cornflowerblue;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* The images for the benefits box are made with a black dashed border*/
.benefit-lead img {
    border: 5px dashed black;
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    border: 5px dashed black;
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    border: 5px dashed black;
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    border: 10px solid gray;
    box-shadow: 10px 10px 10px gray;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    color: #ffffff;
}

.online-reputation-management {
    border: 10px solid gray;
    box-shadow: 10px 10px 10px gray;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    color: #ffffff;
}

.social-media-marketing {
    border: 10px solid gray;
    box-shadow: 10px 10px 10px gray;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
